{% extends 'base.html' %}
{% block content %}
<script src="https://www.paypal.com/sdk/js?client-id={{ paypalClientId }}&commit=true&components=buttons&currency=USD&vault=true&debug=true"></script>
<div class="sub">
    <h2>Buy Credits</h2>
    <div id="paypal-button-1"></div>
    <script>
        paypal.Buttons({
            async response = await fetch("{{ url_for() }}")
            style:{
                layout:'vertical',
                color:'blue',
                borderRadius:15,
                label:'buynow'
            },
            message:{
                amount:9
            }
        }).render('#paypal-button-1')
    </script>
    <div class="button-container">
        <a class="button" href="{{ url_for('home') }}">~ Home ~</a>
    </div>
</div>
{% endblock %}