{% extends 'base.html' %}
{% block content %}
<div class="sub">
    <h3>Are you sure?</h3>
    <p>Clearing Transactions will delete all records of previous transactions, both trading and the initial investment the bot made.</p>
    <p>The actual operation of the bot will not be affected, but reporting and profit calculation will be.</p>
    <div class="button-container">
        <a class="button" href="{{ url_for('home') }}">~ Home ~</a>
        <a class="button" href="{{ url_for('clear',id=id) }}" style="background-color:rgb(221, 102, 102)">~ Clear Transactions ~</a>
    </div>
</div>
{% endblock %}