<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BooF</title>
</head>
<body>
    <div style="background-color:rgba(200, 200, 200); margin:5px; padding:10px; border-radius:30px">
        <br>
        <a href="https://www.boof-bots.com"><img src="https://www.boof-bots.com/static/images/boof.png" style="width: 320px; margin: auto;"/></a>
        <br>
        <div style="background-color: rgba(235, 255, 255); padding:20px; border-radius:30px;">
            {{ message|safe }}
        </div>
        <br>
        <div style="background-color:rgb(14, 118, 145); margin:5px; padding:10px; border-radius:30px;">
            <p style="color:black;"><b>BooF</b> was created with love by <a href="https://www.bmd-studios.com" target="_blank">MrBlindMouse</a></p>
            <p style="color:black;">For any queries, please contact us via email at <a href="mailto:admid@bmd-studios.com">admid@bmd-studios.com</a></p>
        </div>
    </div>
</body>
</html>