{% extends 'base.html' %}
{% block content %}
<div class="sub">
    <h2>Welcome to BooF</h2>
    <p ><b>BooF</b> is self regulating, un-supervised crypto trading bot built for the <a href="https://www.valr.com">VALR</a> crypto exchange platform. Based on the re-balance(mean-revision) trading strategy, BooF aims capitalize on the turbulance of the crypto market. Read our <a href="{{ url_for('about') }}">About</a> and <a href="{{ url_for('howto') }}">HowTo</a> pages to find out more, check out the current <a href="{{ url_for('market') }}"></a>market trends</a>, or sign up to get started!</p>
    <p>You need a valid VALR account to use BooF Bots</p>
    <h3>Log In</h3>
    <div style="text-align:center;">
        <form method="POST">
            <table style="text-align:right; margin:auto;">
                {{ form.hidden_tag() }}
                <tr>
                    <td>{{ form.email.label }}: </td><td>{{ form.email }}</td>
                    {% if form.email.errors %}
                    <span style="color: red;">{{ form.email.errors[0] }}</span><br>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ form.password.label }}: </td><td>{{ form.password }}</td>
                </tr>
                <tr>
                    <td>{{ form.permanent }}</td><td style="text-align:left;"> ~ {{ form.permanent.label }}</td>
                </tr>
            </table>
            <div class="cf-turnstile" data-sitekey = "{{ turnstileKey }}"></div>
            {{ form.submit }}
        </form>
    </div>
    <h3>Sign up now for a 4 week trail period</h3>
    <div class="button-container">
        <a class="button" href="{{ url_for('signup') }}">~ Signup here ~</a>
        <a class="button" href="{{ url_for('reset') }}">~ Reset Password ~</a>
    </div>
</div>
{% endblock %}