{% extends 'base.html' %}
{% block content %}
<div class="sub">
    <h2>Welcome to BooF Bots</h2>
    <p ><b>BooF Bots</b> is an automated, self-regulating crypto trading bot designed for the <a style="color: rgb(3, 51, 63); text-decoration: none;" href="https://www.valr.com"><b>VALR</b></a> crypto exchange platform. Utilizing a rebalancing (mean-reversion) strategy to capitalize on the natural volatility of the crypto market. Visit our <a style="color: rgb(3, 51, 63); text-decoration: none;" href="{{ url_for('about') }}"><b>About</b></a> and <a style="color: rgb(3, 51, 63); text-decoration: none;" href="{{ url_for('howto') }}"><b>How-To</b></a> pages to learn more, explore current <a style="color: rgb(3, 51, 63); text-decoration: none;" href="{{ url_for('market') }}"><b>Market Trends</b></a>, or <a style="color: rgb(3, 51, 63); text-decoration: none;" href="{{ url_for('signup') }}"><b>Sign Up</b></a> to get start trading today!</p><br>
    <p style="text-align:center;">You need a valid <a style="color: rgb(3, 51, 63); text-decoration: none;" href="https://www.valr.com"><b>VALR</b></a> account to use BooF Bots</p>
    <h3>Log In</h3>
    <div style="text-align:center;">
        <form method="POST">
            <table style="text-align:right; margin:auto;">
                {{ form.hidden_tag() }}
                <tr>
                    <td>{{ form.email.label }}: </td><td>{{ form.email }}</td>
                    {% if form.email.errors %}
                    <span style="color: red;">{{ form.email.errors[0] }}</span><br>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ form.password.label }}: </td><td>{{ form.password }}</td>
                </tr>
                <tr>
                    <td>{{ form.permanent }}</td><td style="text-align:left;"> ~ {{ form.permanent.label }}</td>
                </tr>
            </table>
            <div class="cf-turnstile" data-sitekey = "{{ turnstileKey }}" data-theme="light" data-appearance="interaction-only"></div>
            {{ form.submit }}
        </form>
    </div>
    <h3>Sign up now for a 4 week trial period</h3>
    <div class="button-container">
        <a class="button" href="{{ url_for('signup') }}">~ Signup here ~</a>
        <a class="button" href="{{ url_for('reset') }}">~ Reset Password ~</a>
    </div>
</div>
{% endblock %}