{% extends 'base.html' %}
{% block content %}
<div class="sub">
    <h2>Market Technical Analysis</h2>
    <div>
    <h3>ZAR</h3>
    <p style="text-align:center;">Average ZAR pairs Trend: {{ details.ZARTrend }}</p><br>
    <table>
        <tr>
            <th></th><th style="min-width:60px">Trend</th><th style="min-width:60px">RSI</th><th style="min-width:60px">Beta</th><th style="min-width:60px">ATR%</th><th style="min-width:60px">Min Trade</th>
        </tr>
        {% for line in details.ZARList %}
        <tr>
            <td style="text-align: right;">{{ line.base }} - </td><td>{{ line.trend }}</td><td>{{ line.rsi }}</td><td>{{ line.volatility }}</td><td>{{ (line.atr*100)|round(1) }}%</td><td>R{{ line.minTrade|round(2) }}&nbsp;</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <div>
    <h3>USDC</h3>
    <p style="text-align:center;">Average USDC pairs Trend: {{ details.USDCTrend }}</p><br>
    <table>
        <tr>
            <th></th><th style="min-width:60px">Trend</th><th style="min-width:60px">RSI</th><th style="min-width:60px">Beta</th><th style="min-width:60px">ATR%</th><th style="min-width:60px">Min Trade</th>
        </tr>
        {% for line in details.USDCList %}
        <tr>
            <td style="text-align: right;">{{ line.base }} - </td><td>{{ line.trend }}</td><td>{{ line.rsi }}</td><td>{{ line.volatility }}</td><td>{{ (line.atr*100)|round(1) }}%</td><td>${{ line.minTrade|round(2) }}&nbsp;</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <div>
    <h3>USDT</h3>
    <p style="text-align:center;">Average USDT pairs Trend: {{ details.USDTTrend }}</p><br>
    <table>
        <tr>
            <th></th><th style="min-width:60px">Trend</th><th style="min-width:60px">RSI</th><th style="min-width:60px">Beta</th><th style="min-width:60px">ATR%</th><th style="min-width:60px">Min Trade</th>
        </tr>
        {% for line in details.USDTList %}
        <tr>
            <td style="text-align: right;">{{ line.base }} - </td><td>{{ line.trend }}</td><td>{{ line.rsi }}</td><td>{{ line.volatility }}</td><td>{{ (line.atr*100)|round(1) }}%</td><td>${{ line.minTrade|round(2) }}</td>
        </tr>
        {% endfor %}
    </table>
    </div><br>
    <div>
        <h3>Explanation:</h3>
        <p><b>Trend</b> is the short-term average market price compared to the long-term average market price of a trading pair. Specifically, it’s the 14-day WMA divided by the 60-day WMA. A value above 1 indicates an uptrend, and below 1 indicates a downtrend.</p>
        <p><b>RSI</b> is the <a href="https://www.investopedia.com/terms/r/rsi.asp" target="_blank">Relative Strength Index</a> of a trading pair. A value of 50 is neutral with above a uptrend, and below a downtrend.</p>
        <p><b><a href="https://www.investopedia.com/terms/b/beta.asp" target="_blank">Beta</a></b> is the relative volatility of a trading pair compared to an index. In this case, the index is the grouping (ZAR, USDC, USDT). A low or negative beta suggests an unrelated or inverse correlation with the broader index, 1 indicates the volatility matches the average and higher is more volatile.</p>
        <p>And lastly <b>ATR%</b> is the <a href="https://www.investopedia.com/terms/a/atr.asp" target="_blank">Average True Range</a> divided by the 60-day WMA. This gives the average daily movement of a ticker compared to its price.</p>
    </div>
    <div class="button-container">
        <a class="button" href="{{ url_for('home') }}">~ Home ~</a>
    </div>
</div>
{% endblock %}