{% extends 'base.html' %}
{% block content %}
<div class="sub">
    {% if type=="VERIFY" %}
    <h2>Account Verified</h2>
    <h3>Congrats {{user}}!</h3>
    <p>Your account has successfully been verified! You can now add bots and start earning!</p><br>
    <div class="button-container">
        <a class="button" href="{{ url_for('home') }}">~ Home ~</a>
    </div>
    {% elif type=="RESET" %}
    <h2>Password Reset</h2>
    <h3>{{ user }},</h3>
    <p>Your password has successfully been reset. Your temporary password is <b>{{ password }}</b></p>
    <p>Log in to your account with the temporary password and immediately change it under the profile page.</p><br>
    <p>If you experience any difficulty please contact us at <a href="mailto:boof@bmd-studios.com">boof@bmd-studios.com</a></p>
    {% endif %}
</div>
{% endblock %}